<form #changePasswordData="ngForm">

    <b> Please Enter a New Password:</b>
    <input #passwordData="ngModel" required pattern="^(?=[A-Za-z0-9]*[a-z])(?=[A-Za-z0-9]*[A-Z])(?=[A-Za-z0-9]*\d)[A-Za-z0-9]{8,10}$" type="password" placeholder="Password" name="customerPassword" minlength="8" maxlength="10"
        [(ngModel)]="newPassword">
    <!-- <span *ngIf="passwordData.invalid && passwordData.touched">Incorrect password...</span> -->
    <span *ngIf="passwordData.errors?.pattern && passwordData.dirty"> Password Must Be Between 8-10 Character, and contain at least 1 upper case letter, 1 lower case letter and 1 digit</span>
    <br>
    <br>

    <b> Please Repeat Your Password:</b>
    <input #passwordData2="ngModel"  required type="password" placeholder="Password" name="customerPassword2" minlength="8" maxlength="10" [ngModel]="whatever">
    <!-- <span *ngIf="passwordData2.invalid && passwordData2.touched">Incorrect password...</span> -->
    <!-- <span *ngIf="passwordData2.errors?.minlength || passwordData2.errors?.maxlength && usernameData.touched"> Password Must Be Between 8-10 Characters</span>  -->
    <span *ngIf="passwordData2.value!== passwordData.value && passwordData2.dirty"> Passwords do not match! </span>
    <br>
    <br>
<br>
    <button *ngIf="passwordData2.value==passwordData.value && !passwordData.invalid" [disabled]="changePasswordData.form.invalid" (click)="changePassword()"> Change Password </button>

</form>
