<a class="goBack" routerLink = "/companyProfile"> Back to profile > </a>   

<h1>Add Coupon:</h1>

<form #formData="ngForm">

  Insert Coupon Title:  
    <input #couponTitleData="ngModel" required minlength="2" maxlength="45" type="text" name="couponTitle" [(ngModel)] ="coupon.couponTitle" placeholder="Coupon Title" >
    <span *ngIf="couponTitleData.errors?.required && couponTitleData.touched">Missing Title...</span>
    <span *ngIf="couponTitleData.errors?.minlength && couponTitleData.dirty">Title too short...</span>
    <span *ngIf="couponTitleData.errors?.maxlength && couponTitleData.dirty">Title too long...</span>
    <!-- <span *ngIf="couponTitleData.invalid && couponTitleData.touched"> Missing Title</span>
    <span *ngIf="couponTitleData.errors?.minlength && couponTitleData.touched">Title too short...</span> -->

  <br><br>
  Select Coupon Type:  
  <!-- <input #typeData="ngModel" required type="text" name="type" [(ngModel)] = "coupon.type" placeholder="Coupon Type" >
  <span *ngIf="typeData.invalid && typeData.dirty"> Missing Coupon Type</span>
  <br><br> -->
  <!-- <div class="custom-select" style="width:150px;"> -->
    <select #typeData="ngModel" name="type"  [(ngModel)] = "coupon.type" placeholder="Coupon Type" >
      <option *ngFor="let t of couponTypes" value="{{t}}"> {{t}} </option>
    </select>
    <br><br>
  <!-- </div> -->
      
  Insert Coupon Amount:  
  <input #amount="ngModel" required type="number" pattern="^[1-9]+\d*$"  name="couponAmount" [(ngModel)] = "coupon.couponAmount" placeholder="amount" >
  <span *ngIf="amount.errors?.required && amount.dirty"> Missing Amount</span>
  <!-- <span *ngIf="amount.value==0 && amount.touched"> Amount Is Too Low</span> -->
  <span *ngIf="amount.errors?.pattern && amount.touched"> Whole Numbers Only, Must Be 1 Or More</span>
  <br><br>

  Insert Coupon Price:  
  <input #price="ngModel" required pattern="^[1-9]{1}[0-9]*(\.\d{2})$" type="text"  name="couponPrice" [(ngModel)] = "coupon.couponPrice" placeholder="price" >
  <span *ngIf="price.errors?.required && price.dirty"> Missing Coupon price </span>
  <span *ngIf="price.errors?.pattern && price.dirty"> Price Must Be 1 Or Above, And Must Follow the Pattern '0.00'</span>
  <br><br>

  Insert Coupon Message:  
  <input #message="ngModel" required minlength="2" maxlength="200" type="text" name="couponMessage" [(ngModel)] = "coupon.couponMessage" placeholder="Message" >
  <span *ngIf="message.errors?.required && message.dirty"> Missing Coupon message</span>
  <span *ngIf="message.errors?.minlength && message.touched">Message too short...</span>
  <br><br>

  Insert Coupon Start Date:  
  <input #couponStartDate="ngModel" required type="date" name="couponStartDate" [(ngModel)] = "coupon.couponStartDate" placeholder="Start Date" >
  <span *ngIf="couponStartDate.invalid && couponStartDate.dirty"> Missing Coupon Start Date</span>
  <br><br>

  Insert Coupon End Date:  
  <input #couponEndDate="ngModel" required type="date" name="couponEndDate" [(ngModel)] = "coupon.couponEndDate" placeholder="End Date" >
  <span *ngIf="couponEndDate.invalid && couponEndDate.dirty"> Missing Coupon End Date</span>
  <br><br>

  Insert Coupon Image :  
  <input #image="ngModel" type="text" name="couponImage" [(ngModel)] = "coupon.couponImage" placeholder="Coupon image" >
  <span *ngIf="image.invalid && image.dirty"> Missing Coupon image</span>
  <br><br>


  <button [disabled]="formData.form.invalid" (click)="addCoupon()">Add New Coupon!</button>

</form>